header {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  background-color: #EAFAF1;
  z-index: 100000;
  
}

 
#webName{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 10px;

  
}
.siteName{
  font-weight:bold;
  font-size: x-large;
  padding: 5px;
  color: rgba(170, 33, 143, 0.844);
}
.web-Image{
  height: 80px;
  padding: 5px;
}